In [1]:
import torch 
import torch.nn.functional as F

In [4]:
t1 = torch.randn(128, 500, 300)
t2 = torch.randn(128)

t1 * t2.unsqueeze(1).unsqueeze(2)

tensor([[[-1.8710e+00, -1.0877e+00, -2.4461e-01,  ...,  9.5277e-01,
           2.4916e+00, -1.1813e+00],
         [ 4.8908e-01, -1.5438e+00,  1.1630e+00,  ..., -1.0864e-01,
          -1.3692e+00, -3.5051e-01],
         [-9.7979e-01, -5.8967e-01,  5.4338e-02,  ..., -9.8899e-01,
          -4.6536e-01, -3.4412e-02],
         ...,
         [-1.9306e-01, -6.7972e-01, -3.6876e-01,  ..., -6.4601e-01,
           8.7687e-02,  2.8251e-01],
         [ 8.1259e-01, -8.3520e-02,  7.6828e-01,  ...,  1.3538e-02,
          -1.0519e+00,  1.1976e-01],
         [ 3.7449e-01, -2.5942e-01,  1.0785e+00,  ..., -1.2454e+00,
          -3.8538e-01, -1.0500e+00]],

        [[-4.3624e+00,  2.5205e+00,  1.7421e-01,  ..., -3.1031e+00,
          -5.6478e-01,  2.7436e+00],
         [-3.7902e-01, -5.8769e-01,  7.4534e-02,  ..., -7.7646e-01,
          -1.7398e+00, -1.3992e+00],
         [-7.2495e-01,  1.9109e+00,  8.8269e-01,  ..., -2.1507e+00,
          -2.5480e+00,  1.7521e+00],
         ...,
         [-9.8692e-01, -2.9926e-01, -2.2122e-01,  ...,  2.2664e-01,
           1.0494e+00, -1.0999e+00],
         [ 1.3692e+00, -5.2960e-01,  2.0832e+00,  ..., -1.0089e+00,
          -9.1966e-01,  1.5139e+00],
         [-1.9581e+00,  1.3351e+00, -5.4363e-01,  ...,  8.6855e-01,
           1.4097e+00, -1.9981e+00]],

        [[-4.6955e-02, -2.5460e-02, -1.1238e-01,  ...,  5.3904e-02,
           1.1507e-01,  1.1562e-01],
         [ 5.6922e-02, -1.7376e-01, -2.5638e-02,  ...,  3.5309e-02,
           5.8086e-02,  1.4796e-01],
         [-1.8185e-01,  1.6056e-01, -1.5065e-01,  ..., -3.5514e-03,
          -1.0320e-01,  1.8630e-01],
         ...,
         [ 5.9396e-03, -3.9017e-02, -1.1095e-01,  ...,  1.3538e-01,
           1.9153e-01, -9.2778e-02],
         [ 4.8815e-02,  8.0863e-02,  2.8549e-01,  ..., -3.0590e-02,
          -1.2658e-01,  1.0461e-01],
         [-5.6061e-02, -1.5833e-02,  1.5494e-02,  ...,  7.8001e-02,
           7.9148e-02,  6.2661e-03]],

        ...,

        [[ 5.4149e-01, -3.0621e-01, -2.7876e-01,  ...,  4.0197e-01,
           9.6103e-02, -4.9997e-01],
         [-1.6590e-01,  8.2676e-02,  5.1491e-02,  ..., -2.5208e-01,
           9.3487e-03, -1.5387e-02],
         [ 8.3153e-02, -8.6744e-02, -7.4215e-02,  ..., -7.6189e-02,
          -1.2759e-01, -7.7682e-02],
         ...,
         [-3.3132e-01, -1.9908e-01,  4.9923e-01,  ...,  4.0887e-01,
          -3.1604e-02,  1.0306e-01],
         [ 7.0482e-02,  7.8750e-02,  2.9105e-01,  ...,  1.6628e-01,
          -2.7062e-01, -5.0101e-01],
         [ 8.8637e-01,  3.8617e-02, -7.5123e-02,  ..., -2.8341e-03,
          -4.7050e-02,  7.2550e-01]],

        [[ 4.4483e-01, -3.7435e-01, -2.4294e-01,  ..., -1.0775e-01,
          -6.5483e-01, -3.0781e-01],
         [ 2.7356e-01, -3.4959e-01, -4.6316e-01,  ...,  1.2175e-01,
           5.6455e-01,  6.5356e-01],
         [ 1.6346e-01,  1.4659e-01, -3.5736e-01,  ...,  1.4114e-01,
           8.1453e-02,  9.4667e-02],
         ...,
         [-5.1457e-02, -1.7653e-01,  1.0345e-01,  ..., -5.8467e-01,
          -7.1658e-01, -1.4005e+00],
         [ 9.2548e-01,  1.5902e-01,  5.0650e-01,  ..., -1.0284e-01,
           7.1864e-01, -8.1607e-01],
         [-8.2853e-01,  3.9063e-01,  5.2719e-01,  ..., -7.6208e-01,
           2.5733e-01, -3.7636e-01]],

        [[ 9.2554e-01,  2.5926e-01, -2.2275e-02,  ...,  1.3079e+00,
           5.7112e-01, -9.9113e-01],
         [ 7.3850e-01,  2.2763e-01,  2.1320e+00,  ..., -2.5308e+00,
           7.4194e-01, -1.5833e+00],
         [-5.3605e+00, -3.0258e+00,  1.1795e+00,  ..., -3.6140e+00,
           3.3178e-01, -2.0886e+00],
         ...,
         [ 8.5797e-01,  1.4228e+00, -1.5053e+00,  ...,  9.4859e-01,
          -1.1190e+00,  7.3298e-01],
         [ 1.6035e+00, -2.6509e-01,  9.1451e-01,  ...,  7.3646e-01,
          -1.8372e+00, -2.3298e+00],
         [ 1.1035e+00, -2.2178e+00,  1.0444e+00,  ..., -2.3665e-01,
          -1.7608e+00, -2.6932e-01]]])

In [1]:
import pandas as pd

In [4]:
yelp_business = pd.read_json("preprocess_data/.data/yelp_academic_dataset_business.json",
                             lines = True)

In [5]:
yelp_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [7]:
yelp_business.groupby('city').size().sort_values(ascending=False)

city
Philadelphia         14569
Tucson                9250
Tampa                 9050
Indianapolis          7540
Nashville             6971
                     ...
AMBLER                   1
Mt  Juliet               1
Mt Ephraim               1
Mt Laurel Twp, NJ        1
​Lithia                  1
Length: 1416, dtype: int64

In [15]:
cities = ['Philadelphia', 'Tucson', 'Tampa']
phila = yelp_business.loc[yelp_business.city == cities[0]]['business_id'].values
tucson = yelp_business.loc[yelp_business.city == cities[1]]['business_id'].values
tampa = yelp_business.loc[yelp_business.city == cities[2]]['business_id'].values

In [2]:
yelp_review = pd.read_json("preprocess_data/.data/yelp_academic_dataset_review.json",
                             lines = True)

In [3]:
yelp_review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [25]:
yelp_review = yelp_review[['user_id', 'business_id', 'stars', 'text']]

In [26]:
phila_rev = yelp_review.loc[yelp_review.business_id.isin(phila)]
tucson_rev = yelp_review.loc[yelp_review.business_id.isin(tucson)]
tampa_rev = yelp_review.loc[yelp_review.business_id.isin(tampa)]

In [41]:
def save_df(df, name):
    path = "preprocess_data/.data/"
    df.to_csv(path + name + ".csv", index=False, sep="\t", header=None)

In [42]:
save_df(phila_rev, "Philladelphia")

In [43]:
save_df(tucson_rev, "Tucson")
save_df(tampa_rev, "Tampa")

In [44]:
phila_rev.head()

,user_id,business_id,stars,text
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,I've taken a lot of spin classes over the year...
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo..."
5,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,I am a long term frequent customer of this est...
13,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,Good food--loved the gnocchi with marinara\nth...
16,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5,Tremendous service (Big shout out to Douglas) ...