In [1]:
import numpy as np

In [2]:
rep = np.load("ZeroShot/All_Beauty_5_zeroshot.npy")

In [3]:
rep.shape

(5269, 768)

In [2]:
import pandas as pd

In [4]:
yelp_business = pd.read_json("preprocess_data/.data/yelp_academic_dataset_business.json",
                             lines = True)

In [5]:
yelp_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [7]:
yelp_business.groupby('city').size().sort_values(ascending=False)

city
Philadelphia         14569
Tucson                9250
Tampa                 9050
Indianapolis          7540
Nashville             6971
                     ...
AMBLER                   1
Mt  Juliet               1
Mt Ephraim               1
Mt Laurel Twp, NJ        1
â€‹Lithia                  1
Length: 1416, dtype: int64

In [15]:
cities = ['Philadelphia', 'Tucson', 'Tampa']
phila = yelp_business.loc[yelp_business.city == cities[0]]['business_id'].values
tucson = yelp_business.loc[yelp_business.city == cities[1]]['business_id'].values
tampa = yelp_business.loc[yelp_business.city == cities[2]]['business_id'].values

In [2]:
yelp_review = pd.read_json("preprocess_data/.data/yelp_academic_dataset_review.json",
                             lines = True)

In [3]:
yelp_review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [25]:
yelp_review = yelp_review[['user_id', 'business_id', 'stars', 'text']]

In [26]:
phila_rev = yelp_review.loc[yelp_review.business_id.isin(phila)]
tucson_rev = yelp_review.loc[yelp_review.business_id.isin(tucson)]
tampa_rev = yelp_review.loc[yelp_review.business_id.isin(tampa)]

In [41]:
def save_df(df, name):
    path = "preprocess_data/.data/"
    df.to_csv(path + name + ".csv", index=False, sep="\t", header=None)

In [42]:
save_df(phila_rev, "Philladelphia")

In [43]:
save_df(tucson_rev, "Tucson")
save_df(tampa_rev, "Tampa")

In [44]:
phila_rev.head()

,user_id,business_id,stars,text
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,I've taken a lot of spin classes over the year...
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo..."
5,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,I am a long term frequent customer of this est...
13,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,Good food--loved the gnocchi with marinara\nth...
16,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5,Tremendous service (Big shout out to Douglas) ...

In [8]:
teste = pd.read_json("preprocess_data/.data/AMAZON_FASHION_5.json", lines=True)
teste.columns

Index(['overall', 'verified', 'reviewTime', 'reviewerID', 'asin', 'style',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'image'],
      dtype='object')

In [6]:
philla = pd.read_csv("preprocess_data/.data/Philladelphia.csv", sep='\t', header=None)
philla.head()

,0,1,2,3
0,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,I've taken a lot of spin classes over the year...
1,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,"Wow! Yummy, different, delicious. Our favo..."
2,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,I am a long term frequent customer of this est...
3,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4.0,Good food--loved the gnocchi with marinara\nth...
4,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5.0,Tremendous service (Big shout out to Douglas) ...

In [1]:
import pandas as pd
import json

In [28]:
def save_as_json_for_bert(path, name):
    df = pd.read_csv(path, sep='\t', header=None)

    df.columns = ["reviewerID", "asin", "overall", "reviewText"]

    x = df.to_json(orient='records')
    parsed = json.loads(x)

    f = open(f"preprocess_data/.data/{name}.json", "w")

    for dicionÃ¡rio in parsed:
        json_string = json.dumps(dicionÃ¡rio)
        f.write(json_string + "\n")

    f.close()

In [29]:
save_as_json_for_bert("preprocess_data/.data/Tampa.csv", "Tampa")
save_as_json_for_bert("preprocess_data/.data/Philladelphia.csv", "Philladelphia")
save_as_json_for_bert("preprocess_data/.data/Tucson.csv", "Tucson")

In [1]:
from sklearn.datasets import load_svmlight_file

In [4]:
X, _ = load_svmlight_file("ZeroShot/Musical_Instruments_5/zeroshot/X_bert.gz")

In [3]:
X = X.toarray()
X.shape

(0, 1)

In [4]:
X

array([], shape=(0, 1), dtype=float64)